.footer-wrapper {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}

a:link,
a:visited {
  color: white;
  text-decoration: underline;
  cursor: auto;
}

a:link:hover,
a:visited:hover {
  color: white;
  font-weight: bold;
}
